<html lang="ko">
<head>
    <script src="/js/include.js"></script>
    <script>include.meta();</script>
    <title>TEAM STUDIOS - 템플릿 상세 페이지</title>
    <script>include.styles();</script>
</head>
<body>
    <div id="wrap">
        <!-- skip nav -->
        <script>include.skipNav();</script>
        <!-- header 영역 -->
        <script>include.header();</script>
        <div class="content-wrap template">
            <!-- content 영역 -->
            <div class="content">
                <div class="template-wrapper">
                    <div class="path-wrap">
                        <a href="/index.html">HOME</a>
                        <a href="/html/template/template.html">TEMPLATE</a>
                        <a href="#none" class="active">XR STAGE</a>
                    </div>
                    <div class="temp-detail hall">
                        <div class="tit-wrap direction-col">
                            <span>XR STAGE</span>
                            <h1>HALL</h1>
                        </div>
                        <div class="detail-cont">
                            <section class="detail-list type1">
                                <div class="list-tit">
                                    <h3>Camera View</h3>
                                    <p>스테이지를 다양한 각도의 뷰로 확인해보세요.</p>
                                </div>
                                <div class="img-view-list">
                                    <ul>
                                        <li>
                                            <div class="img">
                                                <img src="/img/template/storage/01_hall/camera_view/sky.webp" alt="">
                                            </div>
                                            <p class="name">SKY VIEW</p>
                                        </li>
                                        <li>
                                            <div class="img">
                                                <img src="/img/template/storage/01_hall/camera_view/front.webp" alt="">
                                            </div>
                                            <p class="name">FRONT VIEW</p>
                                        </li>
                                        <li>
                                            <div class="img">
                                                <img src="/img/template/storage/01_hall/camera_view/left.webp" alt="">
                                            </div>
                                            <p class="name">LEFT VIEW</p>
                                        </li>
                                        <li>
                                            <div class="img">
                                                <img src="/img/template/storage/01_hall/camera_view/right.webp" alt="">
                                            </div>
                                            <p class="name">RIGHT VIEW</p>
                                        </li>
                                    </ul>
                                </div>
                            </section>
                            <section class="detail-list type2">
                                <div class="list-tit">
                                    <h3>Key Visual</h3>
                                    <p>상황에 맞게 키비주얼을 변경 사용해 보세요.</p>
                                </div>
                                <div class="img-view-list">
                                    <ul>
                                        <li>
                                            <div class="img">
                                                <img src="/img/template/storage/01_hall/key_visual/03_brown_shot.webp" alt="">
                                            </div>
                                            <p class="name">Brown</p>
                                        </li>
                                        <li>
                                            <div class="img">
                                                <img src="/img/template/storage/01_hall/key_visual/08_yellow_shot.webp" alt="">
                                            </div>
                                            <p class="name">Yellow</p>
                                        </li>
                                        <li>
                                            <div class="img">
                                                <img src="/img/template/storage/01_hall/key_visual/09_yellow_shot.webp" alt="">
                                            </div>
                                            <p class="name">Yellow 02</p>
                                        </li>
                                    </ul>
                                </div>
                            </section>
                           <section class="detail-list type3">
                                <div class="list-tit">
                                    <h3>Zoom Form</h3>
                                    <p>접속인원에 맞추어 줌폼을 변경할 수 있습니다.</p>
                                </div>
                                <div class="img-view-list">
                                    <ul>
                                        <li>
                                            <div class="img">
                                                <img src="/img/template/storage/01_hall/zoom_form/zoom_form.png" alt="">
                                            </div>
                                            <p class="name">Many People</p>
                                        </li>
                                    </ul>
                                </div>
                            </section>
                             <section class="detail-list type3">
                                <div class="list-tit">
                                    <h3>Connect Source</h3>
                                    <p>다양한 자료를 화면에 보여 줄 수 있습니다.</p>
                                </div>
                                <div class="img-view-list">
                                    <ul>
                                        <li>
                                            <div class="img">
                                                <img src="/img/template/storage/01_hall/connect_source/ppt.webp" alt="">
                                            </div>
                                            <p class="name">PPT 노출화면</p>
                                        </li>
                                        <li>
                                            <div class="img">
                                                <img src="/img/template/storage/01_hall/connect_source/video.webp" alt="">
                                            </div>
                                            <p class="name">VIDEO 노출화면</p>
                                        </li>
                                        
                                    </ul>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        <!-- popup area -->
        <!-- footer area -->
        <script>include.footer();</script>
    </div>
    <script>include.scripts();</script>
</body>
</html>