<html lang="ko">
<head>
    <script src="/js/include.js"></script>
    <script>include.meta();</script>
    <title>TEAM STUDIOS - TEMPLATE</title>
    <script>include.styles();</script>
</head>
<body>
    <div id="wrap">
        <!-- skip nav -->
        <script>include.skipNav();</script>
        <!-- header 영역 -->
        <script>include.header();</script>
        <div class="content-wrap">
            <!-- content 영역 -->
            <div class="content">
                <div class="template-wrapper">
                    <div class="path-wrap">
                        <a href="/index.html">HOME</a>
                        <a href="#none" class="active">TEMPLATE</a>
                    </div>
                    <article class="template-01">     
                        <div class="top-banner">
                            <div class="temp-tit">
                                <em class="badge-big-gold">XR</em>
                                <h2 class="tit">XR STAGE</h2>
                                <p>현실에서 볼수 없었던 화려하고 거대한 스케일의  3D공간 스테이지를 만나보세요!</p>
                            </div>
                        </div> 
                        <div class="temp-list-wrap">
                            <div class="temp-info">
                                <em>
                                    <span>오른쪽 스크롤</span><i class="ico-swipe"></i>
                                </em>
                            </div>
                            <ul>
                                <li>
                                    <a href="/html/template/temp_detail.html">
                                        <p class="name">HAll</p>
                                        <div class="img">
                                            <img src="/img/template/storage/01_hall/main.webp">
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="/html/template/temp_detail.html">
                                        <p class="name">storage</p>
                                        <div class="img">
                                            <img src="/img/template/storage/02_storage/main.webp" alt="">
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="/html/template/temp_detail.html">
                                        <p class="name">neon</p>
                                        <div class="img">
                                            <img src="/img/template/storage/03_neon/main.webp" alt="">
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="/html/template/temp_detail.html">
                                        <p class="name">cube</p>
                                        <div class="img">
                                            <img src="/img/template/storage/04_cube/main.webp" alt="">
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="/html/template/temp_detail.html">
                                        <p class="name">space</p>
                                        <div class="img">
                                            <img src="/img/template/storage/05_space/main.webp" alt="">
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="/html/template/temp_detail.html">
                                        <p class="name">circle</p>
                                        <div class="img">
                                            <img src="/img/template/storage/06_circle/main.webp" alt="">
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="/html/template/temp_detail.html">
                                        <p class="name">glam</p>
                                        <div class="img">
                                            <img src="/img/template/storage/07_glam/main.webp" alt="">
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="/html/template/temp_detail.html">
                                        <p class="name">cyber</p>
                                        <div class="img">
                                            <img src="/img/template/storage/08_cyber/main.webp" alt="">
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="/html/template/temp_detail.html">
                                        <p class="name">classroom</p>
                                        <div class="img">
                                            <img src="/img/template/storage/09_classroom/main.webp" alt="">
                                        </div>
                                    </a>
                                </li>
                                <!-- <li>
                                    <a href="#none">
                                        <p class="name">음프</p>
                                        <div class="img">
                                            <img src="/img/dummy/Cyber.png" alt="">
                                        </div>
                                    </a>
                                </li> -->
                                <!-- 더 보기 -->
                                <li class="more">
                                    <a href="#none" id="more-btn">
                                        <span class="a11y">템플릿 더 불러오기</span>
                                    </a>
                                </li>
                            </ul>              
                        </div>    
                    </article>
                    <article class="template-02">     
                        <div class="top-banner">
                            <div class="temp-tit">
                                <em class="badge-big-sky">AR</em>
                                <h2 class="tit">AR TEMPLATE</h2>
                                <p>입체적인 AR그래프를 활용하여 차별화된 프레젠테이션을 해보는건 어떤가요?</p>
                            </div>
                        </div> 
                        <div class="temp-list-wrap">
                            <div class="temp-info">
                                <em>
                                    <span>오른쪽 스크롤</span><i class="ico-swipe"></i>
                                </em>
                            </div>
                            <ul>
                                <li>
                                    <a href="#none">
                                        <p class="name">bar graph</p>
                                        <div class="img">
                                            <img src="/img/template/ar/01_bar_graph/main.webp" alt="">
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#none">
                                        <p class="name">circle graph</p>
                                        <div class="img">
                                            <img src="/img/template/ar/02_circle_graph/main.webp" alt="">
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#none">
                                        <p class="name">text</p>
                                        <div class="img">
                                            <img src="/img/template/ar/03_text/main.webp" alt="">
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#none">
                                        <p class="name">frame</p>
                                        <div class="img">
                                            <img src="/img/template/ar/04_frame/main.webp" alt="">
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#none">
                                        <p class="name">people</p>
                                        <div class="img">
                                            <img src="/img/template/ar/05_people/main.webp" alt="">
                                        </div>
                                    </a>
                                </li>
                                <!-- 더 보기 -->
                                <!-- <li class="more">
                                    <a href="#none" id="more-btn">
                                        <span class="a11y">템플릿 더 불러오기</span>
                                    </a>
                                </li> -->
                            </ul>              
                        </div>    
                    </article>
                    <article class="template-03">     
                        <div class="top-banner">
                            <div class="temp-tit">
                                <em class="badge-big-purple">VIDEO</em>
                                <h2 class="tit">VIDEO TEMPLATE</h2>
                                <p>비디오 템플릿을 사용하여 조금 더 생생하고 현실감 넘치는 영상을 제작할 수 있습니다.</p>
                            </div>
                        </div> 
                        <div class="temp-list-wrap">
                            <div class="temp-info">
                                <em>
                                    <span>오른쪽 스크롤</span><i class="ico-swipe"></i>
                                </em>
                            </div>
                            <ul>
                                <li>
                                    <a href="#none">
                                        <p class="name">Color Line</p>
                                        <div class="img">
                                            <img src="/img/dummy/dummy-AR01.png" alt="">
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#none">
                                        <p class="name">Tech Square</p>
                                        <div class="img">
                                            <img src="/img/dummy/dummy-AR02.png" alt="">
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#none">
                                        <p class="name">Colorful Bridge</p>
                                        <div class="img">
                                            <img src="/img/dummy/dummy-AR03.png" alt="">
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#none">
                                        <p class="name">Fashion Look</p>
                                        <div class="img">
                                            <img src="/img/dummy/dummy-AR04.png" alt="">
                                        </div>
                                    </a>
                                </li>
                                <!-- 더 보기 -->
                                <!-- <li class="more">
                                    <a href="#none" id="more-btn">
                                        <span class="a11y">템플릿 더 불러오기</span>
                                    </a>
                                </li> -->
                            </ul>              
                        </div>    
                    </article>
                   
                </div>
                
            </div>
        </div>
        <!-- popup area -->
        <!-- footer area -->
        <script>include.footer();</script>
    </div>
    <script>include.scripts();</script>
</body>
</html>