<html lang="ko">
<head>
    <script src="/js/include.js"></script>
    <script>include.meta();</script>
    <title>TEAM STUDIOS - 템플릿 상세 페이지</title>
    <script>include.styles();</script>
</head>
<body>
    <div id="wrap">
        <!-- skip nav -->
        <script>include.skipNav();</script>
        <!-- header 영역 -->
        <script>include.header();</script>
        <div class="content-wrap template">
            <!-- content 영역 -->
            <div class="content">
                <div class="template-wrapper">
                    <div class="path-wrap">
                        <a href="/index.html">HOME</a>
                        <a href="/html/template/template.html">TEMPLATE</a>
                        <a href="#none" class="active">AR TEMPLATE</a>
                    </div>
                    <div class="temp-detail none">
                        <div class="tit-wrap direction-col">
                            <span>AR TEAMPATE</span>
                            <h1>BAR GRAPH</h1>
                        </div>
                        <div class="detail-img">
                            <!-- <video src="/img/dummy/test.mp4" alt="" controls> -->
                            <img src="/img/template/ar/01_bar_graph/main.webp" alt="">
                        </div>
                        <div class="detail-cont">
                            <section class="detail-list type2 col">
                                <div class="list-tit">
                                    <h3>AR ITEM</h3>
                                    <p>다양한 아이템을 사용하여 공간을 꾸며 보세요.</p>
                                </div>
                                <div class="img-view-list">
                                    <ul>
                                        <li>
                                            <div class="img">
                                                <img src="/img/template/ar/01_bar_graph/item/1_Normal_Type.webp" alt="">
                                            </div>
                                            <p class="name">NORMAL</p>
                                        </li>
                                        <li>
                                            <div class="img">
                                                 <img src="/img/template/ar/01_bar_graph/item/2_Increase_Type.webp" alt="">
                                            </div>
                                            <p class="name">INCREASE</p>
                                        </li>
                                        <li>
                                            <div class="img">
                                                <img src="/img/template/ar/01_bar_graph/item/3_Cube_Type.webp" alt="">
                                            </div>
                                            <p class="name">CUBE</p>
                                        </li>
                                        <li>
                                            <div class="img">
                                                 <img src="/img/template/ar/01_bar_graph/item/4_Cube_Gather_Type.webp" alt="">
                                            </div>
                                            <p class="name">CUBE GATHER</p>
                                        </li>
                                        
                                    </ul>
                                </div>
                            </section>
                            <!-- <section class="detail-list type4">
                                <div class="list-tit">
                                    <h3>HOW TO USE</h3>
                                    <p>시뮬레이터를 사용하여 AR을 쉽게 설정할 수 있습니다.</p>
                                </div>
                                <div class="img-view-list">
                                    <ul>
                                        <li>
                                            <div class="img">
                                                <img src="/img/template/storage/img_key_brown.png" alt="">
                                            </div>
                                            <div class="scripts">
                                                <p class="tit">색상선택</p>
                                                <p class="cont">시뮬레이터에서 원하는 색상을 설정하여 사용해 보세요. </p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="img">
                                                <img src="/img/template/storage/img_key_purple.png" alt="">
                                            </div>
                                            <div class="scripts">
                                                <p class="tit">2</p>
                                                <p class="cont">원하는 만큼 노출될 AR의 수량을 선택하실 수 있습니다.</p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="img">
                                                <img src="/img/template/storage/img_key_yellow.png" alt="">
                                            </div>
                                            <div class="scripts">
                                                <p class="tit">수치입력</p>
                                                <p class="cont">화면에 보여주고자 하는 AR의 수치를 입력하여 설정할 수 있습니다.</p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </section> -->
                           <section class="detail-list">
                                <div class="list-tit">
                                    <h3>Example image</h3>
                                    <!-- <p>접속인원에 맞추어 줌폼을 변경할 수 있습니다.</p> -->
                                </div>
                                <div class="img-view-list">
                                    <ul>
                                        <li>
                                            <div class="img">
                                                <img src="/img/template/ar/01_bar_graph/example/ex1.png" alt="">
                                            </div>
                                        </li>
                                        <li>
                                            <div class="img">
                                               <img src="/img/template/ar/01_bar_graph/example/ex2.png" alt="">
                                            </div>
                                        </li>
                                        <li>
                                            <div class="img">
                                                 <img src="/img/template/ar/01_bar_graph/example/ex3.png" alt="">
                                            </div>
                                        </li>
                                        <li>
                                            <div class="img">
                                                 <img src="/img/template/ar/01_bar_graph/example/ex4.png" alt="">
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        <!-- popup area -->
        <!-- footer area -->
        <script>include.footer();</script>
    </div>
    <script>include.scripts();</script>
</body>
</html>